@import 'css/normalize.css';
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.col {
  width: 100%;
}

.col-1 {
  max-width: 8.3333333333%;
}

.col-2 {
  max-width: 16.6666666667%;
}

.col-3 {
  max-width: 25%;
}

.col-4 {
  max-width: 33.3333333333%;
}

.col-5 {
  max-width: 41.6666666667%;
}

.col-6 {
  max-width: 50%;
}

.col-7 {
  max-width: 58.3333333333%;
}

.col-8 {
  max-width: 66.6666666667%;
}

.col-9 {
  max-width: 75%;
}

.col-10 {
  max-width: 83.3333333333%;
}

.col-11 {
  max-width: 91.6666666667%;
}

.col-12 {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-md-1 {
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    max-width: 25%;
  }

  .col-md-4 {
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    max-width: 50%;
  }

  .col-md-7 {
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    max-width: 75%;
  }

  .col-md-10 {
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    max-width: 25%;
  }

  .col-lg-4 {
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    max-width: 50%;
  }

  .col-lg-7 {
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    max-width: 75%;
  }

  .col-lg-10 {
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    max-width: 100%;
  }
}
.p-5 {
  border: solid 5px transparent;
  box-sizing: border-box;
}

.p-10 {
  border: solid 10px transparent;
  box-sizing: border-box;
}

.p-15 {
  border: solid 15px transparent;
  box-sizing: border-box;
}

.p-20 {
  border: solid 20px transparent;
  box-sizing: border-box;
}

.p-25 {
  border: solid 25px transparent;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .p-md-5 {
    border: solid 5px transparent;
    box-sizing: border-box;
  }

  .p-md-10 {
    border: solid 10px transparent;
    box-sizing: border-box;
  }

  .p-md-15 {
    border: solid 15px transparent;
    box-sizing: border-box;
  }

  .p-md-20 {
    border: solid 20px transparent;
    box-sizing: border-box;
  }

  .p-md-25 {
    border: solid 25px transparent;
    box-sizing: border-box;
  }
}
/*
    SimpleCSS fast simple and light framework
    Author: Yohangel Ramos
    Github: http://github.com/yohangel
*/
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  font-display: auto;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
  background: #ecf0f1;
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  background: #454647;
  color: #fff;
}
footer a {
  color: #ffF;
  text-decoration: none;
  font-weight: bold;
}

.center-row {
  justify-content: center;
}

.logo {
  display: inline-block;
  cursor: pointer;
  font-size: 28px;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: bold;
}
.logo .slogan {
  display: block;
  font-size: 11px;
}

.login {
  position: relative;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 11px 10px -11px rgba(0, 0, 0, 0.3);
}
.login .title {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #02A0E1;
}
.login element {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.login .form\:row {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 4px 0;
  position: relative;
}
.login label {
  position: absolute;
  opacity: 0;
  transition: 0.2s bottom, 0.2s opacity;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #02A0E1;
  font-size: 12px !important;
  font-weight: bold;
  text-transform: uppercase;
}
.login input:focus + label,
.login input:invalid + label {
  bottom: 95%;
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  opacity: 1;
  padding: 4px;
}
.login input:invalid {
  border-left: 10px solid #f00;
}
.login input:invalid + label::after {
  color: #f00;
  content: "X";
  font-family: arial;
  font-size: 14px;
  line-height: 1;
  padding-left: 12px;
}
.login input {
  position: relative;
  width: 100%;
  z-index: 3;
  display: block;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #dbd7d7;
  cursor: text;
  font-size: 1rem;
  color: #070707;
  font-family: inherit;
}
.login button,
.login input {
  width: 100%;
  margin: 5px;
}
.login\:new .title {
  color: #42DFAD;
}
.login\:new label {
  color: #42DFAD;
}

.navbar {
  background: #fff;
  min-height: 70px;
  box-shadow: 0px 11px 10px -11px rgba(0, 0, 0, 0.3);
  padding: 1vw 4vw;
  z-index: 99;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  /* menu btn */
}
.navbar .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
.navbar .menu li {
  float: left;
  width: 100%;
}
.navbar .menu li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #40407a;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  transition: transform 0.1s ease-in-out;
}
.navbar .menu li a:hover {
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.navbar .menu .separator {
  border-bottom: 1px solid #e0e0e5;
  font-size: 0px;
}
.navbar .menu .special a {
  color: #34ace0;
}
.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.navbar .menu-icon .navicon {
  cursor: pointer;
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.navbar .menu-icon .navicon:before {
  top: 5px;
}
.navbar .menu-icon .navicon:after {
  top: -5px;
}
.navbar .menu-btn {
  display: none;
}
.navbar .menu-btn:checked ~ .menu {
  max-height: 100%;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 877px) {
  .navbar li {
    width: auto !important;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
  .navbar .separator {
    font-size: 14px !important;
    border-bottom: none !important;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
  }
}
@media (max-width: 876px) {
  .navbar .menu {
    margin: 0 -4vw !important;
    box-shadow: inset 0px 11px 10px -11px rgba(0, 0, 0, 0.14);
    background: #fafafa;
  }
}

.cover {
  width: 100%;
  height: 360px;
  background-image: url("./img/white-wood.jpg");
  background-repeat: repeat-x;
  box-shadow: 0px 11px 10px -11px rgba(0, 0, 0, 0.3);
}

.cover-small {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 5px;
  padding-top: 80px;
  box-sizing: border-box;
  text-align: center;
  height: 210px;
  font-size: 1rem;
}

.avatar {
  margin-top: -30%;
  text-align: center;
}
.avatar img {
  background-image: url("./img/avatar.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.avatar .title {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  box-sizing: border-box;
  margin-top: -10px;
  text-transform: uppercase;
  font-weight: bold;
}

.profile {
  background: #fff;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  box-sizing: border-box;
  margin-top: 15px !important;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
.profile .message {
  margin-top: 0;
  font-size: 14px;
}
.profile .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.profile .list li {
  height: 20px;
  margin-bottom: 10px;
}

.skills {
  background: #fff;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  box-sizing: border-box;
  margin-top: 15px !important;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
.skills .title {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e3e8ea;
}
.skills .list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.skills .list li {
  height: 20px;
  margin-bottom: 10px;
}
.skills progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
}
.skills .progress-text {
  position: relative;
  top: -24px;
  color: #000;
  font-size: 12px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.skills progress[value]::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #ecf0f1;
}
.skills progress[value]::-webkit-progress-value {
  border-radius: 10px;
  background-color: #9cc9e6;
}

.gallery--order {
  padding: 2vw 2vw 0 0;
  text-align: right;
}
.gallery--order .option {
  display: inline-block;
  margin-left: 3vw;
  position: relative;
  cursor: default;
}
.gallery--order .option:hover .option\:dropdown {
  transform: scale(1);
}
.gallery--order .option\:dropdown {
  transform: scale(0);
  position: absolute;
  width: inherit !important;
  display: inline-block;
  left: 0;
  top: 100%;
  right: 0;
  z-index: 3;
  padding-top: 0.6rem;
  transform-origin: 15% 0;
  transition: transform 300ms ease-out;
}
.gallery--order .option\:dropdown a {
  cursor: pointer;
  border-bottom: 1px solid #cdcfd0;
  background: #ffF;
  padding: 0.5rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
.gallery--order .option\:dropdown a.selected {
  background: #e8e6e6;
  color: #756f6f;
}
.gallery--order .option\:dropdown a:hover {
  background: #e8e6e6;
}

.grid {
  margin: 2vw;
}

.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  padding: 0.1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
.grid-item:hover {
  filter: brightness(0.65) contrast(0.98) grayscale(0.38);
}

.grid-item,
.grid-sizer {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .avatar {
    margin-top: -50%;
  }

  .grid-item,
.grid-sizer {
    width: 25%;
  }

  .categories {
    margin-top: 130px;
  }

  .project\:image-secondary:hover {
    cursor: pointer;
    filter: brightness(0.65) contrast(0.98) grayscale(0.38);
  }

  .project\:buttons {
    text-align: center;
    padding: 5px;
    margin: -5px 10px;
  }
  .project\:buttons button {
    width: 49.5% !important;
  }
}
@media only screen and (max-width: 767px) {
  .option {
    display: block;
    margin: 10px;
  }
  .option\:dropdown {
    transform: scale(1) !important;
    display: block !important;
    position: relative !important;
  }

  .avatar img,
.avatar .title {
    width: 60%;
  }

  .avater .categories {
    margin-top: 4px;
  }
  .avater .categories li {
    float: left;
    width: 100%;
    margin: 2px;
  }
  .avater .categories li a {
    margin-right: 10px;
  }

  .gallery img {
    width: 90%;
    height: auto;
  }
}
.project {
  margin-top: 10px;
}
.project h1 {
  margin-left: 10px;
  text-transform: uppercase;
  background: #fff;
  padding: 20px;
}
.project\:image {
  margin: 0 auto;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  border-radius: 10px;
  width: 100%;
}
.project\:image-secondary {
  margin: 0 auto;
  border: 4px solid #ffffff;
  box-shadow: 0px 1px 10px 4px rgba(100, 100, 100, 0.05);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.project\:buttons {
  background: #fff;
}
.project\:buttons button {
  width: 100%;
  margin-bottom: 5px;
}
.project p {
  background: #ffF;
  padding: 15px;
}

.text-center {
  text-align: center;
}

button {
  background: #01a9f0;
  background: -moz-linear-gradient(-45deg, #01a9f0 0%, #01a9f0 85%, #02a0e1 85%, #02a0e1 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #01a9f0), color-stop(85%, #01a9f0), color-stop(85%, #02a0e1), color-stop(100%, #02a0e1));
  background: -webkit-linear-gradient(-45deg, #01a9f0 0%, #01a9f0 85%, #02a0e1 85%, #02a0e1 100%);
  background: -o-linear-gradient(-45deg, #01a9f0 0%, #01a9f0 85%, #02a0e1 85%, #02a0e1 100%);
  background: -ms-linear-gradient(-45deg, #01a9f0 0%, #01a9f0 85%, #02a0e1 85%, #02a0e1 100%);
  background: linear-gradient(135deg, #01a9f0 0%, #01a9f0 85%, #02a0e1 85%, #02a0e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#01a9f0", endColorstr="#02a0e1", GradientType=1);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid #02a0e1;
  box-shadow: 0px 2px 0px 0px #02a0e1;
  cursor: pointer;
}
button:hover {
  background: #02a0e1;
}

.button\:secondary {
  background: #04dd98;
  background: -moz-linear-gradient(-45deg, #04dd98 0%, #04dd98 85%, #03d492 85%, #03d492 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #04dd98), color-stop(85%, #04dd98), color-stop(85%, #03d492), color-stop(100%, #03d492));
  background: -webkit-linear-gradient(-45deg, #04dd98 0%, #04dd98 85%, #03d492 85%, #03d492 100%);
  background: -o-linear-gradient(-45deg, #04dd98 0%, #04dd98 85%, #03d492 85%, #03d492 100%);
  background: -ms-linear-gradient(-45deg, #04dd98 0%, #04dd98 85%, #03d492 85%, #03d492 100%);
  background: linear-gradient(135deg, #04dd98 0%, #04dd98 85%, #03d492 85%, #03d492 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#04dd98", endColorstr="#03d492", GradientType=1);
  border: 2px solid #03D492;
  box-shadow: 0px 2px 0px 0px #03D492;
}
.button\:secondary:hover {
  background: #03D492;
}

/*# sourceMappingURL=style.css.map */
